Django==4.2.5
djangorestframework==3.14.0
coverage
flake8
gunicorn
django-cors-headers
django-extensions
django-filter
drf_yasg
djangorestframework-simplejwt
Faker
python-dotenv
dj_database_url
psycopg2-binary
whitenoise
bs4
pandas